{% load static %}
<div class="header__menu">
    <a
            {% if request.resolver_match.url_name == 'main' %}
                class="header__link header__link_active"
            {% else %}
                class="header__link"
            {% endif %}
                href="{% url 'main' %}"
    >Home</a>
    <a
            {% if 'catalog' in request.resolver_match.route %}
                class="header__link header__link_active"
            {% else %}
                class="header__link"
            {% endif %}
                href="{% url 'catalog:index' %}"
    >Products</a>
    <a
            {% if request.resolver_match.url_name == 'contacts' %}
                class="header__link header__link_active"
            {% else %}
                class="header__link"
            {% endif %}
                href="{% url 'contacts' %}"
    >Contact</a>

    {% if user.is_authenticated %}
        <a href="{% url 'auth:edit' %}" class="header__link">
            {{ user.first_name|default:'Unknown user' }}
        </a>
    {% endif %}
    {% if user.is_authenticated %}
        <a href="{% url 'auth:logout' %}" class="header__link">Logout</a>
    {% else %}
        <a href="{% url 'auth:login' %}" class="header__link">Login</a>
    {% endif %}

    <a class="header__link" href="#">Cart items
    <span>
        {% if basket %}
            {{ basket|length }}
        {% endif %}
    </span>
    </a>
</div>
