{% load static %}
<div class="header__menu">
    <a
            {% if request.resolver_match.url_name == 'main' %}
                class="header__link header__link_active"
            {% else %}
                class="header__link"
            {% endif %}

                href="{% url 'main' %}">Home</a>
    <a {% if 'catalog' in request.resolver_match.url_name %}
                class="header__link header__link_active"
            {% else %}
                class="header__link"
            {% endif %} href="{% url 'catalog_all' %}">Products</a>
    <a {% if request.resolver_match.url_name == 'contacts' %}
                class="header__link header__link_active"
            {% else %}
                class="header__link"
            {% endif %} href="{% url 'contacts' %}">Contact</a>
</div>
