{% extends 'mainapp/base.html' %}
{% load static %}

{% block content %}
    <div class="wrapper" id="details">
        <div class="container">
            {% for product in products %}
                <div class="product">
                    <div class="tiles__tile tiles__tile_m">
                        <a href="{% url 'product' %}">
                            <img alt="{{ product.short_desc }}" src="/media/{{ product.image }}"/>
                        </a>
                    </div>
                </div>
            {% endfor %}
        </div>
    </div>
{% endblock %}
