{% extends 'mainapp/base.html' %}
{% load static %}
{% block content %}
    <div style="height: 120px"></div>

    <div class="wrapper" id="details">
        <div class="container">
            <div class="product">
                <div class="product__cell">
                    <div>
                        <img alt="" src="{% static 'img/product_0.png' %}"/>
                    </div>
                    <div class="product__gallery">
                        <span class="product__gallery-item">
                            <img alt="" src="{% static 'img/product_1.png' %}"/>
                        </span>
                        <span class="product__gallery-item">
                            <img alt="" src="{% static 'img/product_2.png' %}"/>
                        </span>
                        <span class="product__gallery-item product__gallery-item_selected">
                            <img alt="" src="{% static 'img/product_0.png' %}"/>
                        </span>
                    </div>
                </div>
                <div class="product__cell">
                    <div class="product__title">Fishnet Chair</div>
                    <div class="product__subtitle">Hot Deal</div>
                    <div class="product__price">$ <b>36.7</b>/sq</div>
                    <div class="product__button">
                        <span class="button button_red">
                            <span class="button_text">Order us</span>
                        </span>
                    </div>
                    <div class="product__info">
                        <p>The majesty of Mountains - Ugmonk style.</p>
                        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut
                            labore</p>
                        <p>et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris
                            nisi ut aliquip ex ea commodo consequat.</p>
                        <p>Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla
                            pariatur. Excepteur sint occaecat cupidatat non proident.</p>
                    </div>
                </div>
            </div>
        </div>
    </div>


    <div class="wrapper section">
        <div class="container">
            <div class="section-header">
                <span class="section-title">Related products</span>
                <span class="section-aside">Explore all</span>
            </div>
            <div class="tiles">
                <div class="tiles__tile tiles__tile_m">
                    <img alt="" src="{% static 'img/product-11.png' %}"/>
                </div>
                <div class="tiles__tile tiles__tile_m">
                    <img alt="" src="{% static 'img/product-21.png' %}"/>
                </div>
                <div class="tiles__tile tiles__tile_m">
                    <img alt="" src="{% static 'img/product-31.png' %}"/>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
